<nav class="navbar bg-body-tertiary content">
  <div class="container-fluid">
    <button class="btn btn-light">
      p
      <img
        src="../../assets//images/2000px-Monterey_Bay_Aquarium_Logo.svg.png"
        alt="Logo"
        width="35"
        height="35"
        class="d-inline-block align-text-top"
      />
      w
    </button>
    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>

    <form class="d-flex" role="search">
      <button class="custom-primary btn btn_space" (click)="goToForm()">Add</button>
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        name="searchText"
        [(ngModel)]="searchText"
      />
      <button class="btn custom-primary btn_space" type="submit">Search</button>

      <button
        type="button"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        data-bs-title="export to excel file"
        class="btn custom-primary btn_space"
        (click)="exportToExcel(APIdata, 'books')"
      >
        Export
      </button>
      <button
        class="btn custom-primary btn_space"
        type="button"
        data-bs-toggle="tooltip"
        data-bs-placement="bottom"
        data-bs-title="import from excel file"
        (click)="openFileInput()"
      >
        Import
      </button>
      <!-- Hidden file input -->
      <input
        type="file"
        accept=".xlsx, .xls"
        (input)="onFileChange($event)"
        #fileInput
        style="display: none"
      />
      <button class="btn custom-primary btn_space" (click)="printDoc()">Print</button>
    </form>
  </div>
</nav>

<div class="print-section">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let item of colList">
          <h5>{{ item }}</h5>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let item of APIdata
            | searchPipe : searchText
            | paginate : { itemsPerPage: pageSize, currentPage: currentPage }
        "
        (dblclick)="goToEdit(item)"
      >
        <th scope="row">{{ item.orderID }}</th>
        <td>{{ item.counterNo }}</td>
        <td>{{ item.cashierName }}</td>
        <td>{{ item.orderDate | date : "dd-MM-yyyy" }}</td>
        <td>{{ item.refund }}</td>
        <td>{{ item.discount }}</td>
        <td>{{ item.discPercentage }}</td>
      </tr>
    </tbody>
  </table>
</div>
<pagination-controls
  class="d-flex justify-content-center"
  (pageChange)="currentPage = $event"
></pagination-controls>
