<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <button class="btn btn-light" (click)="routeToOverview()" >
      p
      <img
        src="../../assets//images/2000px-Monterey_Bay_Aquarium_Logo.svg.png"
        alt="Logo"
        width="35"
        height="35"
        class="d-inline-block align-text-top"
      />
      w
    </button>
    <div class="text-center mx-auto pretty-title">
      Book
    </div>


  </div>
</nav>

<form #f="ngForm" class="d-flex justify-content-center" (ngSubmit)="test(f)" (reset)="clearInput()">
  <table>
    <td></td>
    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>
    <tr class="">
      <td>
        <button
          type="submit"
          class="btn custom-primary"
          (click)="routeToOverview()"
        >
          Overview
        </button>
      </td>
      <td>
        <button
          name="savebtn"
          type="submit"
          value="Save"
          class="btn custom-primary"
          (click)="saveData()"
          [disabled]="!f.valid || f.pristine"

        >
          Save
        </button>


        <button class="btn-outline-secondary btn"
        (click)="clearInput()"
        style="margin-left: 5px;"
        > Clear </button>


        <button
          type="submit"
          name="deleteBtn"
          value="Delete"
          class="btn btn-outline-danger float-middle"
          style="margin-left: 5px;"
          (click)="deleteData()"
        >
          Delete
        </button>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>Order ID:</td>
      <td>
        <input
          type="number"
          placeholder="ID"
          name="orderID"
          disabled
          [(ngModel)]="formData.orderID"
          #orderID="ngModel"
          required


        />
      </td>
    </tr>

    <tr>
      <td>Counter No:</td>
      <td>
        <input
          type="number"
          placeholder="Counter"
          class="large-input"
          name="counterNo"
          [(ngModel)]="formData.counterNo"
          required
          #counterNo="ngModel"
          min="1"
          max="10"
        />
      </td>
    </tr>
    <tr style="line-height: 1 ;">

      <td></td>
      <span
        class="form-text text-muted "
        *ngIf="!counterNo.valid && counterNo.touched"

      >
        The counter No is required!
      </span>
    </tr>
    <tr>
      <td>Cashier Name:</td>
      <td>
        <input
          type="text"
          name="cashierName"
          placeholder="name"
          [(ngModel)]="formData.cashierName"
          #cashierName="ngModel"
          required
        />
      </td>
    </tr>
    <td></td>
    <span
      class="form-text text-muted"
      *ngIf="!cashierName.valid && cashierName.touched"
    >
      The Cashier Name is required!
    </span>
    <tr>
      <td>Order Date:</td>
      <td>
        <input
          type="date"
          class="large-input"
          name="orderDate"
          [(ngModel)]="formData.orderDate"
          #orderDate="ngModel"
        />
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <label>
          <input
            type="radio"
            name="refund"
            value="true"
            [(ngModel)]="formData.refund"


          />
          refund
        </label>
        <label class="radio-separator"></label>

        <label>
          <input
            type="radio"
            name="refund"
            value="false"
            [(ngModel)]="formData.refund"


          />
          no refund
        </label>
      </td>
    </tr>

    <tr>
      <td>
        <label for="discount"> Discount:</label>
        <input
          type="checkbox"
          name="discount"
          [(ngModel)]="formData.discount"
          [value]="discount"
          #discount="ngModel"
          (change)="onDiscountChange()"
        />
      </td>
      <td>

        <input
          *ngIf="formData.discount"
          name="discPercentage"
          type="number"
          placeholder=""
          [(ngModel)]="formData.discPercentage"

          #discPercentage="ngModel"
          min="0"
          max="100"
        />
        %
      </td>
    </tr>


  </table>
</form>
